{template 'common/header'}

<nav class="navbar navbar-default " role="navigation">
	<div class="container" style="width: 100%; ">
		<h3 style="position: relative; text-align: center;">
			<span>便利店</span>
		</h3>
	</div>
</nav>

<ul class="nav nav-tabs" style="margin-bottom: 10px;">
	<li>&nbsp;&nbsp;&nbsp;&nbsp;</li>
	<li class="active"><a href="{php echo $this->createMobileUrl('store', array('op'=>'display'));}">全部商品</a></li>
	<li><a href="{php echo $this->createMobileUrl('cart', array('op'=>'display'));}">购物车</a></li>
	{if !empty($_W['member']['uid'])}
	<li><a href="{php echo $this->createMobileUrl('orders', array('op'=>'display'), true);}">我的订单</a></li>
	{/if}
	<li><a href="{php echo $this->createMobileUrl('test');}">jssdk demo 测试</a></li>
	<li><a href="{php echo $this->createMobileUrl('jssdk');}">封装分享测试</a></li>
	<li><a href="{php echo $this->createMobileUrl('webuploader');}">webuploader</a></li>
	<li><a href="{php echo $this->createMobileUrl('tpl');}">tpl</a></li>
	<li><a href="{php echo $this->createMobileUrl('checksubmit');}">checksubmit</a></li>
	<li><a href="{php echo $this->createMobileUrl('checkauth');}">Checkauth</a></li>
</ul>
